.modal {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  border: 0;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
}

@media (min-width: 600px) {
  .modal {
    width: 440px;
    height: auto;
  }
}

.modal::backdrop {
  background: hsl(0 0% 0% / 50%);
  backdrop-filter: blur(5px);
}

.modal-close-btn {
  font-size: 2em;
  position: absolute;
  top: 0.26em;
  right: 0.75em;
}
